html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-fill {
  background-color: #125a8a;
  border-color: #125a8a;
  color: white;
}

.btn-border {
  background-color: #ffffff;
  border-color: #125a8a;
  color: #125a8a;
}

.btn-fill:hover {
  background-color: #03426d;
  color: white;
}

.btn-border:hover {
  background-color: #125a8a;
  border-color: #125a8a;
  color: #ffffff;
}

.color-blue {
  color: #03426d;
}